<!DOCTYPE html>
<html>
	<title> this is title </title>

	<link rel="stylesheet" href="test.css">
	
	<body> 
		<h2> Shaikh Aazar</h2>
		
		<div class="personal-info"> 
			shaikhaazar11@gmail.com | 626384848177 | <a href="" >LinkedIn </a>| <a href=""> GitHub </a>
		</div>
		
		<h3>  Work Experience </h2>
		<hr>
		<div id ="parent">
			<div class="inner-block">
				<div class="top-inner-block">

					<div class="inner-title">
						<div class="title"> Yog Enterprise Solutions (Y.E.S) </div>
					</div>
					<div class="period bold">
						Indore, Madhya Pradesh
					</div>

				</div>
				<div class="top-inner-block">
					<div class="inner-title">
						<div class="job-description">Python developer intern</div>	
					</div>
					
					<div class="period">
						Jan 2024 - 
					</div>

				</div>
				
				<div class="text-content">
					<ul>
						<li> Working with <b>Frappe/ERPNEXT</b> framework to build reald world ERP applications for enterprises to solve business problems. </li>

						<li> Domain Expertise: Learned about business processes and workflows to facilitate framework customization as per specific client requirements.</li>

						<li> Involved in Server Configuration and Management for organization.</li>
					</ul>
				</div>
			</div>
			
			<div class="inner-block">
				<div class="top-inner-block">

					<div class="inner-title">
						<div class="title"> Aplus Topper </div>
					</div>
					<div class="period bold">
						Remote
					</div>
				</div>

				<div class="top-inner-block">

					<div class="inner-title">
						<div class="job-description">Python Developer intern</div>
					</div>
					<div class="period">
						Apr 2023 - Dec 2023
					</div>
				</div>

				
				<div class="text-content">
					<ul>
						<li>Designed and developed solutions with Web Application using Python - Django Framework.</li>

						<li>Developed Code to complete tasks in various domains like Mathematics, Web Scraping, Front-end </li>

						<li> Developed Code for Automating Trading Strategies and Numeircal Analysis Screeners for Web Based Trading Platform PaisaAlgo. </li>						
					</ul>

				</div>
			</div>
			<div class="inner-block">
				<div class="top-inner-block">

					<div class="inner-title">
						<div class="title"> Feynn Labs </div>
					</div>
					<div class="period bold">
						Remote
					</div>
				</div>
				
				<div class="top-inner-block">

					<div class="inner-title">
						<div class="job-description">Machine Learning intern</div>
					</div>
					<div class="period">
						Apr 2023 - Dec 2023
					</div>
				</div>
				<div class="text-content">
					<ul>
						<li>Designed and developed solutions with Web Application using Python - Django Framework.</li>

						<li>Developed Code to complete tasks in various domains like Mathematics, Web Scraping, Front-end </li>

						<li> Developed Code for Automating Trading Strategies and Numeircal Analysis Screeners for Web Based Trading Platform PaisaAlgo. </li>						
					</ul>
				</div>
			</div>
		</div>
		
		<h3>  Education </h3>
		<hr>
		<div> 
			<div class="inner-block">
				<div class="top-inner-block">
					<div class="inner-title">
						<div class="title"> Institute of Engineering & Technology (I.E.T) - DAVV</div>
					</div>
					<div class="period bold">
						Indore, Madhya Pradesh
					</div>
				</div>

				<div class="text-content">
					some content
				</div>
			</div>
			<div class="inner-block"> 
				<div class="top-inner-block">
					<div class="inner-title">
						<div class="title"> Kendriya Vidyala - Mhow </div>
					</div>

					<div class="period bold">
						Mhow, Madhya Pradesh
					</div>
				</div>

				<div class="text-content">
					some content here for school..
				</div>
			</div>
			
		</div>
		<h3> Projects </h3>
		<hr>
		<div>
			<div class="inner-block">

				<div class="text-content">
					&#9679;<span class="project-name">  Monet GAN: </span>
					 some monet gan content here
				</div>
			</div>

			<div class="inner-block">


				<div class="text-content">
					&#9679;<span class="project-name"> Sentiment Analysis Web Application. </span>
					some sentiment analysis content here.
				</div>
				
			</div>

			<div class="inner-block">
				<div class="top-inner-block">
					<div class="inner-title">
						<div class="title"> Image Classification Android App </div>
					</div>
				</div>

				<div class="text-content">
					some image classification content here.
				</div>
			</div>
		</div>
		<h3>&#9679; Skills</h3>
		<hr>
		<div class="row" >
		  <div class="box">
				&#9675 DSA
			</div>

			<div class="box">
				&#9675 Python
			</div>

			<div class="box">
				&#9675 third column
			</div>

			<div class="box">
				&#9675 third column
			</div>

		</div>

		<div class="row">
			<div class="box">
				&#9675 Java
			</div>

			<div class="box">
				&#9675 Machine Learning
			</div>

			<div class="box">
				&#9675 third column
			</div>

			<div class="box">
				&#9675 third column
			</div>
		</div>

		<div class="row">
			<div class="box">
				&#9675 C++
			</div>

			<div class="box">
				&#9675 Rust
			</div>

			<div class="box">
				&#9675 third column
			</div>

			<div class="box">
				&#9675 third column
			</div>
		</div>

	</body>

</html>
